html{
    scroll-behavior: smooth;
    scrollbar-color: rgba(122,102,204, 0.7) #1C1B21;
    scrollbar-width: 15px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.no-selection{
    cursor: default;
}

.no-selection::selection{
    background: transparent;
}
.no-selection::-moz-selection{
    background: transparent;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #1C1B21;
    box-shadow: 0 0 2px rgba(128,128,128, 0.2);
}
::-webkit-scrollbar-thumb{
    background: rgba(122,102,204, 0.6);
    border-radius: 8px;
    border: 2px solid #1C1B21;
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(122,102,204, 0.8);
}

body{   
    margin: 0;  
    font-family: 'Poppins', sans-serif; 
    color: #FFFFFF;
    background-color: #1C1B21;
    font-size: 18px;
    font-weight: 600;

}

button{
    outline: 0;
}

body.lock{
    overflow: hidden;
}

.space{
    margin: 0 5px;
}
.container{
    margin: 0 auto;
    width: 100%;
    align-items: center;
    max-width: 1920px;
}

/* _____________ FirstScreen _____________ */

.firstScreen{
    padding: 1.875rem 0 0 0;
    background: url("../media/images/FirstScreenBackground.png")
                    center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 1000px;
}

.firstScreen__inner{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1002;
    background-color: #1C1B21;
}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.firstScreen__inner__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 65px;
}

.firstScreen__nav{
    display: flex;
    align-items: center;
}

.firstScreen__nav__item{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 56px;
    line-height: 27px;
}
.firstScreen__nav__item:hover{
    color:#7A66CC;
    transition: 0.3s;
}

.firstScreen__nav__item:last-child{
    margin: 0;
}

.firstScreen__logo{
    margin-right: 20px;
}

.firstScreen__name{
    height: 40px;
}
.subtitle{
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    
}

.firstScreen__title{
    margin: 0;
    font-size: 100px;
    font-weight: bold;
    line-height: 150px;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

/* _____________ Player _____________ */


.titlesAndPlayer{
    max-width: 1110px;
    margin:320px auto 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titlesAndPlayer__player{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.titlesAndPlayer__player__play{
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-right: 30px;
}

.titlesAndPlayer__player__progress__container{
    background: #ffffff;
    width: 888px;
    display: flex;
    align-items: center;
    cursor: pointer;

    position: relative;
}
.titlesAndPlayer__player__progress__container-second{
    width: 320px;
}

.titlesAndPlayer__player__progress__container__progress{
    height: 4px;
    background: #7A66CC;

    position: relative;
}
.titlesAndPlayer__player__progress__container__progress::before{
    content: "";
    height: 20px;
    width: 3px;
    background: #7A66CC;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1px;
}
.titlesAndPlayer__player__time{
    margin-left: 50px;
    width: 120px;
}
.titlesAndPlayer__player__time p{
    margin: 0;
}


/* _____________ News _____________ */




.news__container{
    width: 1110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 130px auto auto auto;
}

.news__item{
    width: 350px;
    height: 300px;
    margin-right: 30px;
    display: flex;
    align-items: flex-end;
    border-radius: 20px 0px;
}

.news__item:last-child{
    margin: 0;
}

.news__item__1{
    background: url("../media/images/news1.png")
                    center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.news__item__2{
    background: url("../media/images/news2.png")
                    center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.news__item__3{
    background: url("../media/images/news3.png")
                    center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.news__title{
    justify-content: center;
    background: rgba(122,102,204, 0.7);
    height: 90px;
    border-radius: 20px 0px;
    font-size: 1rem;
    width: 100%;
    transition: .2s;
    cursor: pointer;
    overflow: hidden;
    scrollbar-color: rgba(255, 255, 255, 0.6) #7A66CC;
    scrollbar-width: 15px;
}
.news__title:hover{
    background: rgba(122,102,204, 1);
    transition: .2s;
    height: 100%;
    overflow: auto;
    border-bottom-right-radius: 0;
}

.news__title::-webkit-scrollbar{
    width: 10px;
}
.news__title::-webkit-scrollbar-track{
    background: #7A66CC;
    box-shadow: 0 0 2px rgba(122,102,204, 0.2);
}
.news__title::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    border: 2px solid #7A66CC;
}

.news__text{
    color: inherit;
    margin: 21px 20px 21px 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}


/* _____________ About _____________ */

.about{
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    margin: 180px auto auto auto;
}

.about__section__title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about__section__title__subtitle{
    margin-left: 30px;
}

.about__section__text{
    display: flex;
    flex-direction: column;
    width: 540px;
    margin: 60px 0 0 0;
    font-size: 1rem;
    font-weight: 400;
}

.about__section__text__part2{
    margin: 1rem 0 0 0;
}

.about__section__facts{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.about__section__facts__container{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.about__section__facts__container:last-child{
    margin: 0;
}

.about__section__facts__element{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.about__section__facts__element__icon{
    width: 30px;
    height: 30px;
    background: #7A66CC;
    border-radius: 10px 0px;
    margin-right: 20px;
}

.about__slider{
    position: relative;
    margin: 60px 0 0 125px;
    min-width: 0;
    cursor: pointer;
}

.about__slider__element{
    position: absolute;
    width: 350px;
    height: 400px;
    border-radius: 30px 0px;
}

.about__slider__element_hidden{
    position: absolute;
    width: 350px;
    height: 400px;

    z-index: 8;
}

.about__slider__element_current{
    z-index: 10;
    position: absolute;
    
    border-radius: 30px 0px;
}

.about__slider__element_next{
    opacity: 0.3;
    left: 95px;
    top: 66px;
    z-index: 9;
    position: absolute;
    
    border-radius: 30px 0px;
    transition: .2s;
}
.about__slider:hover .about__slider__element_next{
    box-shadow: 12px 12px 2px 1px rgba(122,102,204, 0.7);
    opacity: 0.6;
    transition: .2s;
}



/* _____________ Review _____________ */


.review{
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    margin: 240px auto auto auto;
    height: 313px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 30px 0px;

    position: relative;
}

.review__text{
    margin: 50px 0 0 80px;
    max-width: 520px;

    display: flex;
    flex-direction: column;
}
.review__text__sign{
    position: absolute;
}
.review__text__text{
    margin: 0;
    font-weight: 400;

}
.review__text__siteName{
    color: #7A66CC;
    font-weight: bold;
    position: relative;
    text-decoration: none;

    margin: 50px 0 0 0;
}
.review__text__siteName::after{
    content: "";
    width: 520px;
    height: 2px;
    background-color: #fff;
    opacity: 0.6;

    position: absolute;
    top: -25px;
    left: 0;
}
.review__photo{
    position: absolute;
    top: -85px;
    left: 660px;
}


/* _____________ Music _____________ */


.music{
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    margin: 265px auto auto auto;
}
.music__photo{
    margin: 37px 0 0 0;
}
.music__content{
    margin: 0 0 0 60px;
}
.music__content__title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.music__content__title__subtitle{
    margin: 0 0 0 30px;
}
.music__content__player{
    margin: 60px 0 50px 0;
}
.music__content__list{
    overflow: auto;
}
.music__content__list::-webkit-scrollbar{
    width: 10px;
}
.music__content__list::-webkit-scrollbar-track{
    background: #7A66CC;
    box-shadow: 0 0 2px rgba(122,102,204, 0.2);
}
.music__content__list::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    border: 2px solid #7A66CC;
}
.music__content__list__element{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
}
.music__content__list__element:last-child{
    margin: 0;
}
.music__content__list__element__number{
    font-size: 14px;
    opacity: 0.5;
    font-weight: 700;
}
.music__content__list__element__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 400;
    margin: 0 0 0 20px;
}
.music__content__list__element__container-active
{
    margin: 0 0 0 20px;
    font-weight: 600;
    color: #7A66CC;
}
.music__content__list__element__artist{
    margin: 0;
    font-weight: inherit;
}
.music__content__list__element__name{
    margin: 0;
    font-weight: inherit;
}
.music__content__follow{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: row;
}
.music__content__follow__subtitle{
    margin: 0 40px 0 0;
}
.subtitle2{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}
.music__content__follow__element{
    text-decoration: none;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 30px 0 0;
}
.music__content__follow__element:last-child{
    margin: 0;
}
.music__content__follow__element__name{
    margin: 0 0 0 10px;
}


/* _____________ Gallery _____________ */


.gallery{
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    margin: 180px auto auto auto;
}

.gallery__element{
    width: 255px;
    height: 500px;  
    border-radius: 30px 0px; 
}
.gallary__bigelement{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    width: 540px;
    justify-content: center;
    align-items: center;
}
.gallary__bigElement__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
}
.gallary__bigElement__container:last-child{
    margin: 0;
}
.gallery__element__lil{
    margin: 0 30px 0 0;
}
.gallery__element__lil:last-child{
    margin: 0;
}
.gallery__element__big{
    display: flex;
    width: 540px;
    height: 235px;
    border-radius: 30px 0px; 
    opacity: 0.4;
    background: url("../media/images/gallery_5.jpg")
                center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    
    position: relative;
}

.gallary__bigElement__container p{
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;

    color: #7A66CC;
}


/* _____________ Events _____________ */

.events{
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    margin: 180px auto auto auto;
    
    align-items: center;
    position: relative;
}
.events__arrowContainer{
    background-color: #1C1B21;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    border: 1px solid rgba(255,255,255, 0.4);
    box-sizing: border-box;
    border-radius: 10px 0px;
    position: absolute;
}

.events__arrowContainer-prev{
    top: 50%;
    transform: translateY(-50%);
    left: -80px;
}

.events__arrowContainer-next{
    top: 50%;
    transform: translateY(-50%);
    left: 1140px;
}
.events__content{
    overflow: hidden;
}

.slider-track{
    display: flex;
    flex-direction: row;
    transition: .2s;
}

.events__content__element{
    margin: 0 30px 0 0;
    height: 480xp;
    min-width: 0;
    font-size: 18px;
    font-weight: 700;
    background: #2F2B2B;
    border-radius: 70px 0px;
}
.events__content__element:last-child{
    margin: 0;
}
.events__content__element__img{
    width: 100%;
    height: 280px;
    border-radius: 30px 0px;
}
.events__content__element__location{
    margin: 30px 0 0 35px;
    color: #FFFFFF;

    opacity: 0.5;
}
.events__content__element__club{
    margin: 20px 0 0 35px;
    font-weight: 500;
}
.events__content__element__container{
    display: flex;
    flex-direction: row;
    margin: 30px 0 0 0;
    align-items: center;
    justify-content: flex-end;
}
.events__content__element__container__date{
    margin: 0 40px 0 0;
    font-size: 16px;
    opacity: 0.5;
}
.events__content__element__container__btn{
    cursor: pointer;
    width: 180px;
    height: 60px;
    background: #7A66CC;
    border-radius: 30px 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    transition: .2s;
}
.events__content__element__container__btn:hover{
    color: #7A66CC;
    background: #ffffff;
    transition: .2s;
    margin: 0 10px 0px 0;
    box-shadow: 10px 4px 1px 0 #7A66CC ;
}


/* _____________ Footer _____________ */


.footer{
    max-width: 1100px;
    display: flex;
    flex-direction:column;
    margin: 180px auto auto auto;

    align-items: center;
}
.firstScreen__name-footer{
    margin: 0;
}
.footer__contactsContainer{
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.footer__contactsContainer__contactsName{
    margin: 0 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noMargin{
    margin: 0;
}
.footer__contactsContainer__contactsName-textEnd{
    
    text-align: end;
}
.footer__contactsContainer__contacts{
    font-weight: 400;
}
.media__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px 0 0 0;
}
.media__item:hover .outer-circle{
    background-color: #1C1B21;
    transition: .2s;
}
.media__item:hover .inner-circle{
    background-color: #FFFFFF;
}


.outer-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2C2C2C;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}
.inner-circle{
    width: 44px;
    height: 44px;
    background-color: #7A66CC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.media__container a {
    height: 60px;
    margin: 0 30px 0 0;
}
.media__container a:last-child {
    margin: 0;
}

.icon{
    fill: #FFFFFF;
    height: 24px;
    width: 24px;
    transition: .2s;
}
.media__item:hover .icon{
    fill: #7A66CC;
    transition: .2s;
}

.copyright{
    margin: 100px 0 40px 0;
    opacity: 0.5;
    font-size: 13px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
}




/* _____________ Modal Windows _____________ */

.modal-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    top: 0;
    left: 0;
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.modal-wrapper.open{
    opacity: 1;
    visibility: visible;
}

.modal-container{
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    position: relative;
    max-width: 1110px;
    margin: auto;
    border: 1px solid #cccccc;
    background-color: #1C1B21;
}

.modal__event-discription{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.event-discription__cross-cicle{
    height: 40px;
    width: 40px;
    position: absolute;
    border: 1px #cccccc solid ;
    border-radius: 50%;
    left: 1024px;
    top: 20px;
}
.modal__close{
    height: 40px;
    width: 40px;
    transition: 0.2s;
}

.modal__close:active{
    transform: rotate(45deg);
}

.modal__event-discription h1{
    margin: 30px 0 0 0;
    font-size: 24px;
    font-weight: 700;
}


.modal__event-discription h2{
    margin: 20px 0 0 0;
    font-weight: 700;
    font-size: 18px;
    opacity: .5;
}

.modal__tickets{
    height: 160px;
    width: 100%;
    margin: 50px 0 0 0;
}

.tickets__element{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    position: relative;
}

.tickets__element::before{
    content: "";
    height: 1px;
    background-color: #cccccc;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.tickets__element:last-child::after{
    content: "";
    height: 1px;
    background-color: #cccccc;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
}

.element__name{
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-weight: 400;
}

.element__work-place{
    min-width: 285px;
    margin: 0 40px 0 0;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.work-place__alert{
    display: flex;
    align-items: center;
    justify-content: center;
    top: -40px;
    left: 0;
    background-color: #7A66CC;
    position: absolute;
    width: 270px;
    height: 30px;
    font-size: 14px;
    font-weight: 300;
    
}

.work-place__alert.hidden{
    opacity: 0;
    visibility: hidden;
}

.work-place__alert p{
    margin: 0;
    position: relative;
}

.alert__arrow{
    position: absolute;
    top: 25px;
    left: 202px;
    fill:#7A66CC;
    width: 15px;
    height: 15px;
}

.tickets__btn{
    cursor: pointer;
    border:none;
    margin: 0 30px 0 100px;
    background: rgba(122,102,204, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px; 
    transition: 0.1s;
}

.tickets__btn:last-child{
    margin: 0 0 0 30px;
}

.tickets__btn:active {
    background-color: rgba(122,102,204, 1);
}

.modal__footer{
    margin: 220px 20px 20px 20px;
    display: flex;
}

.footer__tickets-container{
    width: 740px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    border: 2px solid #cccccc;
    border-radius: 30px 0 ;
}

.tickets-container__choosen-ticket{
    height: 70px;
    display: flex;
    margin: 15px 0;
    width: 120px;
    font-weight: 300;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    border: 2px solid #cccccc;
    transition: .2s;
    position: relative;
}

.tickets-container__choosen-ticket:hover{
    background-color: #7A66CC;
    border-radius: 30px 0;
    border-color: #7A66CC;
    transition: .2s;
}
.tickets-container__choosen-ticket:hover .modal__close-min{
    transition: .2s;
    display: block;
}

.modal__close{
    fill: #cccccc;
    cursor: pointer;
}

.plus{
    stroke: #FFFFFF;
    width: 20px;
    height: 20px;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    padding: 5px 0 0 0;
    margin: 0 0 0 20px;
    width: 20px;
    height: 30px;
}

.shaded{
    opacity: 0.6;
}

.quantity{
    width: 10px;
}

.minus{
    stroke: #FFFFFF;
    width: 20px;
    height: 20px;
}

.modal__close-min{
    display: none;
    top: -5px;
    left: 105px;
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.footer__payment-information{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.payment-information__tickets{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;
}

.footer__continue-btn{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    width: 180px;
    height: 60px;
    background-color: #7A66CC;
    border: none;
    border-radius: 30px 0;
    margin: 0 0 0 20px;
    transition: 0.2s;
}

.footer__continue-btn:hover{
    color: #7A66CC;
    background: #FFFFFF;
    padding: 0 7px 0px 0;
    box-shadow: 10px 4px 1px 0 #7A66CC ;
}


/* _____________ Modal-mini Window _____________ */


.modal-mini{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 400px;
    background-color: #1C1B21;
    border-left: 1px solid #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.modal__close-container{
    height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
}

.modal__close-container::after{
    content: "";
    height: 1px;
    background-color: #FFFFFF;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
}

.modal__title{
    margin: 20px 0 0 20px;
}

form{
    margin: 30px 0 0 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form * {
    outline: none;
}

.form__body{
    position: relative;
}

.form__body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51,51,51, 0.9) url(../media/images/downloading2.gif) center / 150px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}
.form__body._sending::after{
    opacity: 1;
    visibility: visible;
}


.body__form-container{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;
    height: 100%;
    position: relative;
}

.form-container__items-container{
    max-width: 400px;
}

.form__item-checkbox{
    position: absolute;
    max-width: 400px;
    bottom: 20px;
    left: 0;
    font-weight: 400;
    font-size: 14px;
}

.form__item{
    margin: 30px 0 0 0;
    max-width: 400px;
}

.form__item:first-child{
    margin: 0 0 0 0;
}

.form__input{
    font-size: 18px;
    font-weight: 400;
    width: 352px;
    height: 34px;
    padding: 5px 10px 5px 10px;
    border: none;
}

.form__input:focus{
    box-shadow: 0 0 18px #7A66CC;
    transition: 0.2s;
}

.form__input._error{
    box-shadow: 0 0 18px red;
}

.form__item-checkbox._error .checkbox__label::before{
    box-shadow: 0 0 18px red;
}

.checkbox__input{
    margin: 0;
    display: none;
}

.checkbox__input:checked + .checkbox__label::after{
    transform: scale(1);
}

.checkbox__label{
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
 
}

.checkbox__label a{
    font-weight: 700;
}

.checkbox__label::before{
    align-self: flex-start;
    content: "";
    flex: 0 0 30px;
    height: 30px;
    background: #E5E5E5;
    border-radius: 8px 0px;
    margin: 0 20px 0 0;
    
}

.checkbox__label::after{
    content: "";
    height: 22px;
    width: 22px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 5px 0;
    background-color: #7A66CC;
    transform: scale(0);
    transition: 0.2s;
}

.button-form__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    position: relative;
}

.button-form__container::after{
    content: "";
    height: 1px;
    background-color: #FFFFFF;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
}

.button-form{
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    width: 300px;
    background-color: #7A66CC;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    transition: 0.2s;
}

.button-form:hover{
    color: #7A66CC;
    background: #ffffff;
}





/* _____________ Waves _____________ */

.waves{
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.waves1{
    height: 23px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.6;
}
.waves1{
    height: 23px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.6;
}
.waves2{
    height: 13px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.3;
}
.waves3{
    height: 26px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.8;
}
.waves4{
    height: 19px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.6;
}
.waves5{
    height: 31px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 1;
}
.waves6{
    height: 26px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.9;
}
.waves7{
    height: 21px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.6;
}
.waves8{
    height: 28px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.8;
}
.waves9{
    height: 14px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.4;
}
.waves10{
    height: 19px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.5;
}
.waves11{
    height: 23px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.55;
}
.waves12{
    height: 27px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.6;
}
.waves13{
    height: 12px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.3;
}
.waves14{
    height: 7px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.2;
}
.waves15{
    height: 29px;
    width: 4px;
    background-color: #7A66CC;
    margin-right: 2px;
    opacity: 0.8;
}
.waves16{
    height: 23px;
    width: 4px;
    background-color: #7A66CC;
    opacity: 0.8;
}

/* _____________ Slider _____________ */

.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}

.events__content .slick-arrow{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 60px;
    border: 0;
    padding: 0;
    cursor: pointer;
}
.events__content .slick-arrow.slick-prev
{
    left: -80px;
    transition: .2s;
    font-size: 0;
    background: url('../media/images/arrowPrev.svg') 0 0 /100% no-repeat;
}
.events__content .slick-arrow.slick-prev:hover{
    transition: .2s;
    background: url('../media/images/arrowPrevHover.svg') 0 0 /100% no-repeat;
}
.events__content .slick-arrow.slick-arrow.slick-next
{
    left: 1120px;
    transition: .2s;
    font-size: 0;
    background: url('../media/images/arrowNext.svg') 0 0 /100% no-repeat;
}
.events__content .slick-arrow.slick-next:hover{
    transition: .2s;
    background: url('../media/images/arrowNextHover.svg') 0 0 /100% no-repeat;
}

